.*.swp
/download
/CLAPACK-3.2.1/**/*.a
/CLAPACK-3.2.1/**/*.o
/CLAPACK-3.2.1/BLAS/*.out
/CLAPACK-3.2.1/BLAS/x*
/CLAPACK-3.2.1/F2CLIBS/libf2c/arith.h
/CLAPACK-3.2.1/F2CLIBS/libf2c/signal1.h
/CLAPACK-3.2.1/F2CLIBS/libf2c/sysdep1.h
/CLAPACK-3.2.1/INSTALL/test*
/CLAPACK-3.2.1/TESTING/*.out
/CLAPACK-3.2.1/TESTING/x*
/graclus1.2/graclus
/graclus1.2/*.a
/graclus1.2/**/*.o
/SiftGPU/bin
/SiftGPU/build
/pba/bin
/cmvs/program/main/*.o
/cmvs/program/main/cmvs
/cmvs/program/main/genOption
/cmvs/program/main/pmvs2
/cmvs/program/main/Dependencies
/pmvs-2/program/main/*.o
/pmvs-2/program/main/pmvs2
/pmvs-2/program/main/Dependencies
/vsfm_linux/bin/
/vsfm_osx/bin
/bin
